html{
    min-height: 100%;
    position: relative;
}

.boton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(252, 214, 245);
    text-decoration:none;
    padding: 6px;
    border-radius: 25px;
    color: black;
    margin-left: 520%;
}

.padre{
}

li{
    list-style: none;
    display: inline-block;
    position: relative;
    display: table-cell;
    vertical-align: niddle;
}

.imagen{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(../imagenes/imglogoinicio.jpg );
    

}

.fa-facebook-square{
font-size: 50px;
background-color: white;
color: rgb(32, 32, 241);

}

.fa-instagram-square{
font-size: 50px;
background-color: white;
color: rgb(241, 34, 79);
text-align-last: center;

}

.fa-whatsapp-square{
font-size: 50px;
background-color: white;
color: green;
}
