/*PAGINA DE INGRESO*/

html{
    min-height: 100%;
    position: relative;
}

header{
    display: flex;
    width: 100;
    justify-content: flex-end;
}

.boton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(252, 214, 245);
    text-decoration:none;
    padding: 6px;
    border-radius: 25px;
    color: black;
    margin-right: 100px;
}

li{
    list-style: none;
    display: inline-block;
}

.imagen{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(../imagenes/imglogoinicio.jpg );
    background-size: cover;
    background-position: center;
}

.fa-facebook-square,.fa-instagram-square,.fa-whatsapp-square{
font-size: 50px;
background-color: white;
}

.fa-facebook-square{ 
color: rgb(32, 32, 241);
}

.fa-instagram-square{
color: rgb(241, 34, 79);
}

.fa-whatsapp-square{
font-size: 50px;
color: green;
}

.inicio-footer{
position: absolute;
width: 100%;
bottom: 0;
}

/*PAGINA DE INGRESO Y NAVEGACION*/

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}
ul li a{
    text-decoration: none;
} 

.imagenInicio {
    margin: 10px;
    padding: 10px;
    height: 95vh;
    width: 95vw;
    background-repeat: no-repeat;
    background-image: url(../imagenes/img-ini-solapas.jpg );
    background-size: cover;
    background-position: center;
}

.menuItem1,.menuItem2,.menuItem3,.menuItem4,.menuItem5,.menuItem6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(161, 253, 238);
    text-decoration: none;
    padding: 6px;
    border-radius: 25px;
    color: black;
    margin-right: 100px;
}

/*Productos*/

.tituloYproductos {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(76, 59, 230);
    display: flex;
    justify-content: center;
}

.imagenProductos {
    margin: 10px;
    padding: 10px;
    height: 95vh;
    width: 95vw;
    background-repeat: no-repeat;
    background-image: url(../imagenes/img-produc.jpg);
    background-size: cover;
    background-position: center;
}


/*contactos*/



