html{
    min-height: 100%;
    position: relative;
}

header{
    display: flex;
    width: 100;
    justify-content: flex-end;
}

.boton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(252, 214, 245);
    text-decoration:none;
    padding: 6px;
    border-radius: 25px;
    color: black;
    margin-right: 20px;
}

li{
    list-style: none;
    display: inline-block;
}

.imagen{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(../imagenes/imglogoinicio.jpg );
    background-size: cover;
    background-position: center;
}

.fa-facebook-square,.fa-instagram-square,.fa-whatsapp-square{
font-size: 50px;
background-color: white;
}

.fa-facebook-square{ 
color: rgb(32, 32, 241);
}

.fa-instagram-square{
color: rgb(241, 34, 79);
}

.fa-whatsapp-square{
font-size: 50px;
color: green;
}

.inicio-footer{
position: absolute;
width: 100%;
bottom: 0;
}

